aiohttp==3.6.2
aiohttp-csrf==0.0.2
aiohttp-jwt==0.6.1
aiohttp-security==0.4.0
aiohttp-session==2.9.0
argon2-cffi==20.1.0
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==2.9.2
idna==2.10
multidict==4.7.6
Naked==0.1.31
psycopg2-binary==2.8.6
pycparser==2.20
pycryptodome==3.9.8
pydantic==1.7.2
PyJWT==1.7.1
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
shellescape==3.8.1
six==1.15.0
SQLAlchemy==1.3.19
SQLAlchemy-Utils==0.36.8
urllib3==1.25.10
yarl==1.6.0
