<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>WebSocket Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/static/js/chat.js"></script>
  </head>
  <body>
    <div class="container" id="home-container">
      <h1>WebSocket Chat</h1>
      <br>
      <p>Welcome to WebSocket simple example application</p>
      <p>
        <a href="#" onclick="loadPage('register');" id="register-link">Register, </a>
        <a href="#" onclick="loadPage('login');" id="login-link">login</a> or
        <a href="#" onclick="loadPage('chat');" id="chat-link">join the chat</a>
        <br>
        If you like our app, <a href="#" onclick="loadPage('feedback')" id="feedback-link">leave a feedback</a>
      </p>
    </div>
  </body>
</html>